#startScreen, #howToPlay, #endScreen{
    width: 576px;
    height: 448px;
    margin: auto;
    border: 1px solid black;
}

h1, button, p, ul,span, legend{
    font-family: iceCream;
    font-size: 64px;
    text-align: center;
}

button{
    margin-left: 5px;
}

p, ul{
    margin:10px;
    padding:0;
}
h1{
    margin: 50px;
    padding: 50px;
    padding-top: 100px;
}
li{
    list-style-type: none;
}

@font-face{
    font-family: iceCream;
    src: url('fonts/fonts/IceCream.eot');
    src: url('fonts/fonts/IceCream.eot?#iefix') format('embedded-opentype'),
    url('fonts/fonts/IceCream.woff2') format('woff2'),
    url('fonts/fonts/IceCream.woff') format('woff'),
    url('fonts/fonts/IceCream.ttf') format('truetype');
}

.back{
  margin-left: 430px;
    font-size: 40px;
}

input{
    width: 520px;
    height:60px;
    margin-bottom: 20px;
}
input[type='text']{
    font-size: 40px;
    font-family: iceCream;
}

span{
    padding: 150px;
}

legend{
    margin-top:60px;
    padding-top: 50px;
}
